{% extends "layout.html" %}
{% block content %}
<div class="form">
    <div class="container">
        <div class="row">
            <p> THROW-GUI is a collection of GUIs for open-source CAE code.</p><br>
            <p>Almost these GUI provides an interface per single solver.</p><br>
            <p>THROW-GUI is a collection of GUI samples for designers.</p><br>
            <p>If you want to reuse the GUI source code, you can go to Github.</p><br>
            <a href="https://github.com/mmer547/THROW">Github Page</a>
            <hr>
            <div class="col-md-12">
                <h2><span class="label label-default">Palabos</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a class="btn btn-danger btn-block" href="/palabos_internal" role="button" target="_blank">Palabos Internal flow</a>
            </div>
        </div>
        <hr>
    </div>
</div>
{% endblock %}